<header>
    <app-header></app-header>
</header>
<body class="pesquisa">
    <h1>PESQUISAR</h1>
    <br>
    <input id="search" placeholder="Title or Author"><br>
    <button mdbBtn id="button" type="button" gradient="blue" rounded="true" mdbWavesEffect>Pesquisar</button>
    <div id="results"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
    <div>
        <script src="search.component.ts"></script>
        <div></div>
    </div>
</body>

<footer>  
    <app-informations></app-informations>
</footer>