<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  

    <!-- Footer Elements -->
    <div class="container ">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
                <a mdbBtn color="white" outline="true" class="wow flex-center waves-light text-center" data-wow-delay="0.3s"
                mdbWavesEffect href="https://github.com/niubajr19">Github</a>
              <mdb-icon fab icon="github" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
              
            </a>  
            <!--Linkedin -->
            <a class="li-ic">
                <a mdbBtn color="white" outline="true" class="wow flex-center waves-light text-center" data-wow-delay="0.3s"
                      mdbWavesEffect href="https://www.linkedin.com/in/lucas-antonio-silva/">Linkedin</a>
                <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3" ></mdb-icon>
                

            </a>
            <!--Instagram-->
            <a class="ins-ic">
                <a mdbBtn color="white" outline="true" class="wow flex-center waves-light text-center" data-wow-delay="0.3s"
                mdbWavesEffect href="https://www.instagram.com/lucas.antonio19/">Instagram</a>
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>

            </a>  
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->