<!--Main Navigation-->
<header class="intro-header">

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>Projeto Final Eagle</strong></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['#'  ]">Home</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/myBooks']">Meus Livros</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/informations']">Informações</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <!--Intro Section-->
    <section class="view intro-2" >
      <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
          <div class="d-flex align-items-center content-height w-100">
            <div class="row flex-center pt-5 mt-3 w-100">
                <div class="col-md-6 text-center text-md-left mb-5">
                  <div class="white-text">
                    <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Biblioteca Virtual </h2>
                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Efetue aqui a pesquisa por seu livro</h6>
                    <br>
                    <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                      mdbWavesEffect [routerLink]="['/search']">Pesquisar</a>
                  </div>
                </div>
              <div class="col-md-6 col-xl-5 offset-xl-1">
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </header>
  <!--Main Navigation-->