.intro-header {
  height: unset !important;
}
.view {
  height: 100vh !important;
}
.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgb(61, 140, 219), rgba(19, 9, 78, 0.6) 100%);
  height: 100%;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}