<!--Main Navigation-->
<header class="intro-header">

    <!--Navbar-->
    <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top ">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" [routerLink]="['/my-books']"mdbWavesEffect>Minha Estante</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
          </li>
      </ul>
      <!-- Links -->
      
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

    <!--Intro Section-->
    <section class="view intro-video">
        <video class="h-200" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline
          autoplay muted loop>
          <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
        </video>
        <div class="mask rgba-gradient">
          <div class="full-bg-img">
            <div class="container flex-center solid">
              <div class="row pt-5 mt-3">
                <div class="col-lg-12 wow fadeIn mb-5 text-center text-lg-left">
                  <div class="white-text">
                    <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Estante Virtual</h2>
                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                    <p class="wow fadeInLeft text-lg-left" data-wow-delay="0.3s">Pesquise aqui pelo livro desejado</p>
                    <br>
                    <br>
                    <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light text-center" data-wow-delay="0.3s"
                      mdbWavesEffect >Pesquisar</a>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>

  </header>
  <!--Main Navigation-->